---
layout: default
---
<div id='side-content'>
	<div class='side-content-header'>
		<span class='align'>Archives</span>
		<img height="10" width="10" alt="arrowdown" src={{site.img_path | arrowdown.png }} style="margin: 12px 0pt 0pt 5px;">
	</div>		
		
			
	<div id="post-menu">
		<div class='year-post'>
			<h5><a href="#">2012</a></h5>		
			<div class='post-menu-content'>		
				<ul id='post-menu-list'>
					{% for post in site.posts %}			
						<li><a href={{post.url}}>{{post.heading}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class='year-post'>
			<h5><a href="#">2012</a></h5>		
			<div class='post-menu-content'>		
				<ul id='post-menu-list'>
					{% for post in site.posts %}			
						<li><a href={{post.url}}>{{post.heading}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class='year-post'>
			<h5><a href="#">2012</a></h5>		
			<div class='post-menu-content'>		
				<ul id='post-menu-list'>
					{% for post in site.posts %}			
						<li><a href={{post.url}}>{{post.heading}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
{{content}}
